@charset "UTF-8";

.barre {
    font-size: 45px;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: red; 
    text-align: center;
    margin-top: 0px;
    background-image: url("../img/background_black.png");
}

body {
    background-color:#2b2b29;
    background-repeat: repeat;
    font: 1.2em "Fira Sans", sans-serif;
}

a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}