@charset "UTF-8";

.h11 {
    font-size: 45px;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: red; 
     text-align: center;
    margin-top: 0px;
    background-image: url("../img/background_black.png");
}

* {
    background-image: url("../img/background_red.png");
    background-repeat: repeat;
}

img {
    border-radius: 40%;
}

.playerPicture {
    float: left;  
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}