{% extends 'base.html.twig' %}

{% block title %}Roazhon Stats{% endblock %}

{% block body %}

<link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
<link rel="icon" type="image" href="{{ asset('img/favicon.ico') }}" />

<div class="main">
  <div>
    <h1 class="barre"> Roazhon Stats </h1>
  </div>
  <div class="vcenter">
    <a href="/player">Players</a>
  </div>
</div>

</div>
{% endblock %}
